* { padding: 0; margin: 0; font-family: inherit; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body { color: #fff; background: #111; font-family: 'Roboto', sans-serif; padding: 0; margin: 0; width: 100%; height: 100%; }
body { overflow-x: hidden; }

.material-symbols-outlined { font-size: inherit; line-height: inherit; }

.controls .method .score .score-container > .export > span,
.map > .editor > .delete,
.controls .buttonSelect,
.message,
.map > .notice,
.map > .actions > span,
.controls .button,
.controls .button::after,
.controls .button::before {
    transition: all 200ms ease-in-out;
}

.map {
    position: absolute;
    top: 0; 
    left: 0;
    width: 90%;
    height: 100%;
    max-width: calc(100vw - 400px);
}

.map > .notice {
    position: absolute;
    top: 50%; left: 50%;
    display: inline-block;
    transform: translate(-50%,-50%);
    color: #444;
    font-weight: 100;
    font-size: 1.2em;
    opacity: 0;
    z-index: 0;
}

.map > .notice.active {
    opacity: 1;
}

.map > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.map > .actions {
    position: absolute;
    display: inline-block;
    top: 20px; right: 20px;
    z-index: 200;
}

.map > .actions > span {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid #1f1f1f;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    height: 40px; width: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}

.map > .actions > span:hover {
    background: #1f1f1f;
}

.map > .actions > span.clear:hover {
    background: #c00;
}

.map > .editor {
    position: absolute;
    display: block;
    transform: translate(-50%, 32px);
    opacity: 0;
    background: #111;
    border: 1px solid #1f1f1f;
    border-radius: 4px;
    padding: 20px 20px 15px 20px;
    z-index: 200;
    width: 300px;
    transition: transform 200ms, opacity 200ms ease-in-out;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    visibility: hidden;
}

.map > .editor.active {
    transform: translate(-50%, 12px);
    opacity: 1;
    visibility: visible;
}

.map > .editor::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 50%;
    width: 15px; height: 15px;
    transform: translate(-50%, -50%) rotateZ(45deg);
    background: #111;
    border: 1px solid #1f1f1f;
    border-bottom: none;
    border-right: none;
}

.map > .editor > .title {
    display: block;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 5px;
}

.map > .editor > .desc {
    display: block;
    margin-bottom: 5px;
}

.map > .editor > .delete {
    position: absolute;
    display: inline-block;
    top: 15px; right: 15px;
    width: 30px; height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #1f1f1f;
    border-radius: 50%;
    cursor: pointer;
}

.map > .editor > .delete:hover {
    background: #c00;
    border-color: #c000;
}

.controls {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    min-width: 400px;
    border-left: 1px solid #1f1f1f;
    padding: 00px 0 0 0;
    background: #111;
}

.controls > header {
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 50px;
    line-height: 20px;
    padding: 15px 20px;
    border-bottom: 1px solid #1f1f1f;
}

.controls > .selection {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #1f1f1f;
    line-height: 0;
}

.controls > .content {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.controls .method { 
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #1f1f1f;
    line-height: 1.5rem;
}

.controls .method strong:first-of-type {
    display: block;
    margin-bottom: 5px;
}

.controls .method .description {
    display: block;
    position: relative;
}

.controls .method .settings {
    display: block;
    position: relative;
    width: 100%;
}

.map > .editor > label,
.controls .method .settings label {
    display: block;
    position: relative;
    background: #111;
    margin-top: 5px;
}

.map > .editor > label > span,
.controls .method .settings label > span {
    display: block;
    position: relative;
    font-size: 0.8rem;
    padding: 2px 0;
    opacity: 0.5;
}

.map > .editor > label > input, 
.controls .method .settings label > input {
    display: block;
    position: relative;
    width: 100%;
    background: #111;
    color: #fff;
    padding: 8px 12px;
    border: none;
    outline: 0;
    border: 1px solid #1f1f1f;
}

.map > .editor label > input[type='range'],
.controls .method .settings label > input[type='range']{ border: none; }

.controls .method .settings label.checkbox { cursor: pointer; margin-top: 10px; }
.controls .method .settings label.checkbox > span { padding: 0 0 0 25px; line-height: 1.3rem; }
.controls .method .settings label.checkbox > input { position: absolute; width: 20px; height: 1.3rem; top: 0; left: 0; width: auto; max-width: 1.3rem; }

.controls .method .score .score-container {
    display: block;
    position: relative;
    width: 100%; height: 100px;
    margin-top: 10px;
    overflow: hidden;
}

.controls .method .score .score-container.empty {
    height: 0;
    margin-top: 0;
}

.controls .method .score .score-container > svg {
    display: block;
    position: relative;
    width: 100%; height: 100%;
}

.controls .method .score .score-container > .export {
    display: inline-block;
    position: absolute;
    top: 0; right: 0;
    width: 65px; height: 25px;
    z-index: +20;
    border: 1px solid #1f1f1f;
    color: #fff;
    background: #111;
}

.controls .method .score .score-container > .export > select {
    position: absolute;
    display: block;
    top: 0; left: 0; 
    width: 40px; height: 100%;
    border: none;
    color: #fff;
    appearance: none;
    background: inherit;
    padding: 5px;
    text-align: center;
}

.controls .method .score .score-container > .export > span {
    position: absolute;
    display: inline-block;
    top: 0; right: 0; 
    width: 25px; height: 100%;
    line-height: 25px; text-align: center;
    font-size: 14px;
    border-left: 1px solid #1f1f1f;
    cursor: pointer;
}

.controls .method .score .score-container > .export > span:hover {
    background: rgb(35, 116, 255);
}

.controls .method .progress {
    display: block;
    position: relative;
    width: 100%; height: 1px;
    margin-top: 15px;
    background: #1f1f1f;
    --progress: 0%;
}

.controls .method .progress::after {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0;
    height: 100%;
    width: var(--progress);
    background: #008106;
}

.controls .method .time {
    float: right;
    margin-top: 15px;
}

.controls .button {
    position: relative;
    display: inline-block;
    padding: 10px 60px 10px 20px;
    text-align: left;
    border: 1px solid #1f1f1f;
    cursor: pointer;
    margin-top: 15px;
    background: #111;
}

.controls .buttonSelect {
    position: relative;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    line-height: 20px;
    line-height: 1rem;
    text-align: left;
    border: 1px solid #1f1f1f;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 10px;
    background: #111;
}

.controls .buttonSelect.selected,
.controls .buttonSelect:hover {
    background: #3b608a;
}


.controls .button.running, 
.controls .button:hover {
    background: #008106;
}


.controls .button::before,
.controls .button::after {
    font-family: 'Material Symbols Outlined';
    position: absolute;
    top: 12px;
    right: 20px;
    line-height: 20px;
    font-size: 1.2em;
}

.controls .button::after {
    content: 'autorenew';
    opacity: 0;
    animation: rotation 2000ms linear 0ms infinite forwards;
}

.controls .button::before {
    content: 'play_arrow';
    opacity: 1;
}


.controls .button.running::before { opacity: 0; content: 'stop_circle'; } 
.controls .button.running::after { opacity: 1; }

.controls .button.running:hover { background: #c00; }
.controls .button.running:hover::before { opacity: 1; }
.controls .button.running:hover::after { opacity: 0; }

@keyframes rotation {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}

.message {
    position: fixed;
    display: inline-block;
    left: 50%;
    top: 0;
    width: 100%;
    max-width: 600px;
    background: #111;
    border: 1px solid #1f1f1f;
    border-top: none;
    padding: 20px 20px 20px 60px;
    transform: translate(-50%, -100%);
    z-index: 200;
}

.message > span {
    position: absolute;
    top: 20px; left: 20px;
}

.message.error > span { color: #d62c2c; }
.message.warning > span { color: #ffd900; }
.message.info > span { color: #008cff; }

.message.active {
    transform: translate(-50%, 0);
}
