* { padding: 0; margin: 0; font-family: inherit; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body { color: #fff; background: #111; font-family: 'Roboto', sans-serif; padding: 0; margin: 0; width: 100%; height: 100%; }
body { overflow-x: hidden; }

.message,
.map > .notice,
.controls .clear-button,
.controls .button,
.controls .button::after,
.controls .button::before {
    transition: all 200ms ease-in-out;
}

.map {
    position: absolute;
    top: 0; 
    left: 0;
    width: 90%;
    height: 100%;
    max-width: calc(100vw - 400px);
}

.map > .notice {
    position: absolute;
    top: 50%; left: 50%;
    display: inline-block;
    transform: translate(-50%,-50%);
    color: #444;
    font-weight: 100;
    font-size: 1.2em;
    opacity: 0;
    z-index: 0;
}

.map > .notice.active {
    opacity: 1;
}

.map > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.controls {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    min-width: 400px;
    border-left: 1px solid #1f1f1f;
    padding: 50px 0 0 0;
    background: #111;
}

.controls > header {
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 50px;
    line-height: 20px;
    padding: 15px 20px;
    border-bottom: 1px solid #1f1f1f;
}

.controls > .content {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.controls .method { 
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #1f1f1f;
    line-height: 25px;
}

.controls .method strong:first-of-type {
    display: block;
    margin-bottom: 5px;
}

.controls .method .description {
    display: block;
    position: relative;
}

.controls .method .progress {
    display: block;
    position: relative;
    width: 100%; height: 1px;
    margin-top: 15px;
    background: #1f1f1f;
    --progress: 0%;
}

.controls .method .progress::after {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0;
    height: 100%;
    width: var(--progress);
    background: #008106;
}

.controls .button {
    position: relative;
    display: inline-block;
    padding: 10px 60px 10px 20px;
    text-align: left;
    border: 1px solid #1f1f1f;
    cursor: pointer;
    margin-top: 15px;
    background: #111;
}

.controls .button.running, 
.controls .button:hover {
    background: #008106;
}


.controls .button::before,
.controls .button::after {
    font-family: 'Material Symbols Outlined';
    position: absolute;
    top: 12px;
    right: 20px;
    line-height: 20px;
    font-size: 1.2em;
}

.controls .button::after {
    content: 'autorenew';
    opacity: 0;
    animation: rotation 2000ms linear 0ms infinite forwards;
}

.controls .button::before {
    content: 'play_arrow';
    opacity: 1;
}


.controls .button.running::before { opacity: 0; content: 'stop_circle'; } 
.controls .button.running::after { opacity: 1; }

.controls .button.running:hover { background: #c00; }
.controls .button.running:hover::before { opacity: 1; }
.controls .button.running:hover::after { opacity: 0; }

@keyframes rotation {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}

.controls .clear-button {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1f1f1f;
    margin: 0;
    padding: 15px 20px;
    text-align: left;
    cursor: pointer;
}

.controls .clear-button::after {
    content: 'delete';
    font-family: 'Material Symbols Outlined';
    position: absolute;
    top: 15px;
    right: 20px;
    line-height: 20px;
    font-size: 1.2em;
}

.controls .clear-button:hover {
    background: #c00;
}

.message {
    position: fixed;
    display: inline-block;
    left: 50%;
    top: 0;
    width: 100%;
    max-width: 600px;
    background: #111;
    border: 1px solid #1f1f1f;
    border-top: none;
    padding: 20px 20px 20px 60px;
    transform: translate(-50%, -100%);
    z-index: 200;
}

.message > span {
    position: absolute;
    top: 20px; left: 20px;
}

.message.error > span { color: #d62c2c; }
.message.warning > span { color: #ffd900; }
.message.info > span { color: #008cff; }

.message.active {
    transform: translate(-50%, 0);
}
